[project]
	description = Intends to demonstrate gerrti review with a github repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maxime Gabut (maxgabut)
[access "refs/for/refs/*"]
	read = group user/Maxime Gabut (maxgabut)
	push = group user/Maxime Gabut (maxgabut)
	label-Code-Review = -2..+2 group user/Maxime Gabut (maxgabut)
	label-Verified = -1..+1 group user/Maxime Gabut (maxgabut)
	rebase = group user/Maxime Gabut (maxgabut)
	removeReviewer = group user/Maxime Gabut (maxgabut)
	submit = group user/Maxime Gabut (maxgabut)
[access "refs/heads/*"]
	read = group user/Maxime Gabut (maxgabut)
	create = group user/Maxime Gabut (maxgabut)
	push = +force group user/Maxime Gabut (maxgabut)
	pushMerge = group user/Maxime Gabut (maxgabut)
[access "refs/tags/*"]
	push = group user/Maxime Gabut (maxgabut)
	push = +force group user/Maxime Gabut (maxgabut)
